.box1 {
    width: 30%;
    margin-left: 65%;
    margin-top: 30px;
    background: white;
    padding: 10px;
    color: black;
    font-family: arial;
    position: relative;
    border-radius: 10px;
    word-break: break-all;
}

.box2 {
    width: 30%;
    margin-left: 5%;
    margin-top: 30px;
    background: white;
    padding: 10px;
    color: black;
    font-family: arial;
    position: relative;
    border-radius: 10px;
}

.sb1:before {
    content: "";
    position: absolute;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 6px;
}

.sb2:before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}